In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [5]:
df_trashepatico= pd.read_excel("/content/Trasplante hepático consolidado.xlsx")

In [6]:
#Imprimir las dimensiones del dataset
print(f"Las dimensiones del dataframe son\n: {df_trashepatico.shape}")

Las dimensiones del dataframe son
: (736, 285)

In [7]:
pd.set_option('display.max_rows', None)
df_trashepatico.dtypes

#_Paciente                                                                  int64
Año_Tx                                                                      int64
Mes_Tx#1                                                                    int64
Fecha_Tx                                                           datetime64[ns]
Edad_Al_Tx                                                                float64
Sexo_Receptor                                                               int64
Código de anonimización                                                    object
Fecha_nacimiento                                                           object
EPS                                                                       float64
Grupo_Sanguíneo_Receptor                                                   object
RH_Receptor                                                                object
COD_Grupo_Sanguíneo_Receptor                                              float64
COD_RH_Receptor                                                           float64
Fecha-Enlistamiento                                                        object
Tiempo_En_Lista_Días                                                       object
Tiempo_En_Lista_Meses                                                     float64
Tiempo_En_Lista_Años                                                      float64
Causa_1_Tx_Hepático_                                                      float64
Causa_2_Tx_Hepático_                                                      float64
Hepatocarcinoma                                                           float64
Child_Pugh_Letra                                                           object
MELD_Score                                                                float64
Causa_Tx_Renal                                                            float64
Peso_Pre_Tx                                                               float64
BMI                                                                        object
Composición_Corporal                                                      float64
Falla_Cardiaca_Pre_Tx                                                      object
Enfermedad_Coronaria_Pre_Tx                                                object
Infarto_Cardiaco_Pre_Tx                                                    object
Diabetes_Mellitus_Pre_Tx                                                   object
Hipertensión_Arterial_Pre_Tx                                               object
Antecedente_De_Tabaquismo                                                 float64
Antecedente_De_Alcoholismo                                                float64
Colesterol_TotalPre_Tx                                                     object
LDL_Pre_Tx                                                                float64
HDL_Pre_Tx                                                                float64
Triglicéridos_Pre_Tx                                                       object
Dislipidemia_Pre_Tx                                                       float64
MDRD_Score_Pre_Tx                                                          object
MDRD_Categórico_PreTx                                                     float64
CMV_Receptor                                                              float64
EKG_PreQx                                                                  object
EKG_PreQx_Valor                                                            object
Valvulopatía_Pre_Tx                                                        object
Ecocardiograma_PreQx_FE%                                                   object
Ecocardiograma_PreQx-FE_Cod                                                object
Ecocardiograma_PreQx_RC%                                                   object
Ecocardiograma_PreQx_RC                                                    object
Ecocardiograma_PreQxPSAP                                                   object
Ecocardiograma_PreQx_Hipertensión_Pulmonar                                 object
Ecocardiograma_PreQx_TAPSE                                                 object
Ecocardiograma_PreQx_TASVE                                                 object
Ecocardiograma_PreQx_Disfunción_Diastólica                                 object
METS                                                                       object
Tx#1                                                                      float64
Edad_Donante_Tx#1                                                         float64
Sexo_Donante_Tx#1                                                         float64
Causa_Muerte_Donante_Tx#1                                                 float64
CMV_Donante_Tx#1                                                          float64
Cirujano_Rescate_1_Tx#1                                                   float64
Cirujano_Rescate_2_Tx#1                                                   float64
Tipo_de_Cx-Trasplante_Tx#1                                                float64
Trasplante_Combinado-Hígado-Riñón_Tx#1                                    float64
Tiempo_Isquemia_Fría_Tx#1                                                 float64
Tiempo_Isquemia_Caliente_Tx#1                                             float64
Arterialización_Portal                                                    float64
Injerto_Aórtico_Tx#1                                                      float64
#_Unidades_Glóbulos_Rojos_Tx#1                                            float64
#_Unidades_Plasma_Fresco_Congelado_Tx#1                                   float64
#_Unidades_Crioprecipitados_Tx#1                                          float64
#_Unidades_Plaquetas_Tx#1                                                 float64
Tiempo_Quirúrgico_Tx#1                                                    float64
Antibiótico_Profiláctico_VS_Terapéutico                                   float64
Días_Tratamiento_Antibiótico_Previo_A_Tx#1                                float64
Antibiótico_1__Tx#1                                                       float64
Antibiótico_2_Tx#1                                                        float64
Antibiótico_3_Tx#1                                                        float64
Antifúngico_Tx#1                                                          float64
Tiempo_De_Dosis_Hasta_Tx#1                                                 object
Cirujano_Principal_Tx#1                                                   float64
Cirujano_Ayudante_Tx#1                                                     object
Fecha_Colocación_Sonda_Vesical                                             object
Fecha_Retiro_Sonda_Vesical                                                 object
Tiempo_Sonda_Vesical                                                      float64
Fecha_Colocación_CVC                                                       object
Fecha_Retiro_CVC                                                           object
Tiempo_CVC                                                                float64
Soporte_Vasopresor_PeriTx                                                 float64
Levosimendan_PeriTx                                                       float64
Levosimendam_Dosis                                                         object
Noradrenalina_PeriTx                                                      float64
Noradrenalina_Dosis                                                        object
Adrenalina_PeriTx                                                         float64
Andrenalina_Dois                                                           object
Vasopresina_PeriTx                                                        float64
Vasopresina_Dosis                                                          object
Dopamina_PeriTx                                                           float64
Dopamina_Dosis                                                             object
Amiodarona_PeriTx                                                         float64
Amiodarona_Dosis                                                           object
Tx_Soporte_Inotrópico                                                      object
Bilirrubina_Total_POP                                                     float64
COD_ Bilirrubina_Total_POP                                                float64
Bilirrubina_Directa_POP                                                   float64
COD_Bilirrubina_Directa                                                   float64
¿Complicación?                                                             object
#_De_Complicaciones                                                       float64
Tipo_De_Complicación_1                                                     object
Inmunosupresor_1                                                          float64
Inmunosupresor_2                                                          float64
Inmunosupresión_con_Anticuerpos                                           float64
Rechazo_Agudo                                                              object
Severidad_Rechazo_Agudo                                                    object
Rechazo_Crónico                                                           float64
Infección_POP                                                             float64
Tipo_Infección_1                                                           object
Germen_1                                                                   object
Fecha_Infección_1                                                          object
Tiempo_Desde_Tx_Infección_1                                                object
Tipo_Infección_2                                                          float64
Germen_2                                                                   object
Fecha_Infección_2                                                          object
Tiempo_Desde_Tx_Infección_2                                                object
Tipo_Infección_3                                                          float64
Germen_3                                                                  float64
Fecha_Infección_3                                                          object
Tiempo_Desde_Tx_Infección_3                                                object
Stent                                                                     float64
Requirió_Reconstrucción_Biliar                                            float64
Fecha_Reconstrucción_Biliar                                                object
Tiempo_Reconstrucción_Biliar                                              float64
Profilaxis_Antitrombótica                                                 float64
Medicamento_Antitrombótica                                                float64
Días_de_Profilaxis_Antitrombótica                                         float64
Falla_Cardiaca_POP                                                        float64
Arritmia_POP                                                               object
Infarto_POP                                                                object
EKG_VALOR_POP                                                              object
Ecocardiograma_POP_FE%                                                    float64
Ecocardiograma_POP_PASP                                                   float64
Ecocardiograma_POP_Otros                                                   object
Retrasplante                                                              float64
Indicación_Retrasplante                                                   float64
Fecha-Enlistamiento_Tx#2                                                   object
Año_Tx2 (si no retx, poner año tx)                                          int64
Fecha_Tx#2                                                                 object
Mes_Tx#2                                                                  float64
Días_Reenlistado_Tx#2                                                      object
Días_Desde_Tx#1                                                           float64
Edad_Donante_Tx#2                                                         float64
Sexo_Donante_Tx#2                                                         float64
Causa_Muerte_Donante_Tx#2                                                  object
CMV_Donante_Tx#0                                                          float64
Cirujano_Rescate_1_Tx#2                                                   float64
Cirujano_Rescate_2_Tx#2                                                   float64
Tipo_de_Cx-Trasplante_Tx#2                                                float64
Tiempo_Isquemia_Fría_Tx#2                                                 float64
Tiempo_Isquemia_Caliente_Tx#2                                             float64
Injerto_Aórtico_Tx#2                                                      float64
#_Unidades_Glóbulos_Rojos_Tx#2                                            float64
#_Unidades_Plasma_Fresco_Congelado_Tx#2                                   float64
#_Unidades_Crioprecipitados_Tx#2                                          float64
#_Unidades_Plaquetas_Tx#2                                                 float64
Tiempo_Quirúrgico_Tx#2                                                    float64
Días_Tratamiento_Antibiótico_Previo_A_Tx#2                                float64
Antibiótico_1_Tx#2                                                        float64
Antibiótico_2_Tx#2                                                        float64
Antibiótico_3_Tx#2                                                        float64
Antifúngico_Tx#2                                                          float64
Segunda_Dosis_Tx#2                                                        float64
Tiempo_De_Dosis_Hasta_Tx#2                                                float64
Cirujano_Principal_Tx#2                                                   float64
Cirujano_Ayudante_Tx#2                                                    float64
Re_Re trasplante                                                          float64
Indicación_Re_Re_trasplante                                               float64
Fecha-Enlistamiento_Tx#3                                                   object
Año_Tx#3                                                                    int64
Fecha_Tx#3                                                                 object
Mes_Tx#3                                                                  float64
Días_Reenlistado_Tx#3                                                     float64
Días_Desde_Tx#1.1                                                         float64
Edad_Donante_Tx#3                                                         float64
Sexo_Donante_Tx#3                                                         float64
Causa_Muerte_Donante_Tx#3                                                 float64
CMV_Donante_Tx#3                                                          float64
Cirujano_Rescate_1_Tx#3                                                   float64
Cirujano_Rescate_2_Tx#3                                                   float64
Tipo_de_Cx-Trasplante_Tx#3                                                float64
Tiempo_Isquemia_Fría_Tx#3                                                 float64
Tiempo_Isquemia_Caliente_Tx#3                                             float64
Injerto_Aórtico_Tx#3                                                      float64
#_Unidades_Glóbulos_Rojos_Tx#3                                            float64
#_Unidades_Plasma_Fresco_Congelado_Tx#3                                   float64
#_Unidades_Crioprecipitados_Tx#3                                          float64
#_Unidades_Plaquetas_Tx#3                                                 float64
Tiempo_Quirúrgico_Tx#3                                                    float64
Cirujano_Principal_Tx#3                                                   float64
Cirujano_Ayudante_Tx#3                                                    float64
Fast_Track                                                                float64
Días_En_UCI                                                               float64
Días_En_Hospitalización_Piso                                              float64
Días_Totales_Intrahospitalarios                                           float64
Fecha_Egreso_UCI                                                           object
Fecha_Egreso_Hospitalario                                                  object
Sobrevida_PeriQx_30_días_POP                                              float64
Vivo_Hoy                                                                  float64
Fecha_Control/Muerte                                                       object
Sobrevida_Días                                                              int64
Sobrevida_Meses                                                           float64
Sobrevida_Años                                                            float64
Último_Análisis_De_Mortalidad                                              object
Años_Desde_El_Tx                                                          float64
Causa_De_Muerte                                                            object
Complicación_Asociada                                                      object
Sobrevida_Injerto_#1                                                      float64
Control_Injerto_#1                                                         object
Días_Sobrevida_Injerto_#1                                                 float64
Meses_Sobrevida_Injerto_#1                                                float64
Años_Sobrevida_Injerto_#1                                                 float64
Sobrevida_Injerto_#2                                                      float64
Control_Injerto_#2                                                         object
Días_Sobrevida_Injerto_#2                                                 float64
Meses_Sobrevida_Injerto_#2                                                float64
Años_Sobrevida_Injerto_#2                                                 float64
Sobrevida_Injerto_#3                                                      float64
Control_Injerto_#3                                                         object
Días_Sobrevida_Injerto_#3                                                 float64
Meses_Sobrevida_Injerto_#3                                                float64
Años_Sobrevida_Injerto_#3                                                 float64
PTLD                                                                       object
Fecha_Tx_A_PTLD                                                            object
Tiempo_Tx_A_PTLD                                                           object
Neoplasia_PostTx                                                          float64
Fecha_Neoplasia_PostTx                                                     object
Tiempo_Tx_A_Neoplasia_PostTx                                              float64
Hepatocarcinoma.1                                                         float64
αFP_Al_Dx                                                                 float64
#_Nódulos_Al_Dx                                                           float64
Diámetro_Nódulo_Principal_(cm)_Al_Dx                                      float64
Sumatoria_#Nódulos_y_Diámetros_Al_Dx                                       object
Cumple_Milán                                                              float64
Cumple_UCSF                                                               float64
Cumple_Up_To_Seven                                                        float64

In [8]:
#análisis de datos pérdidos en el dataset
pd.set_option('display.max_rows', None)
df_trashepatico.isnull().sum()

#_Paciente                                                           0
Año_Tx                                                               0
Mes_Tx#1                                                             0
Fecha_Tx                                                             0
Edad_Al_Tx                                                           0
Sexo_Receptor                                                        0
Código de anonimización                                              0
Fecha_nacimiento                                                     1
EPS                                                                  2
Grupo_Sanguíneo_Receptor                                             7
RH_Receptor                                                          7
COD_Grupo_Sanguíneo_Receptor                                         3
COD_RH_Receptor                                                      7
Fecha-Enlistamiento                                                  6
Tiempo_En_Lista_Días                                                 0
Tiempo_En_Lista_Meses                                                0
Tiempo_En_Lista_Años                                                 0
Causa_1_Tx_Hepático_                                                 7
Causa_2_Tx_Hepático_                                                 6
Hepatocarcinoma                                                      6
Child_Pugh_Letra                                                    20
MELD_Score                                                          24
Causa_Tx_Renal                                                      29
Peso_Pre_Tx                                                         38
BMI                                                                 45
Composición_Corporal                                                22
Falla_Cardiaca_Pre_Tx                                               37
Enfermedad_Coronaria_Pre_Tx                                         36
Infarto_Cardiaco_Pre_Tx                                             39
Diabetes_Mellitus_Pre_Tx                                            35
Hipertensión_Arterial_Pre_Tx                                        35
Antecedente_De_Tabaquismo                                           34
Antecedente_De_Alcoholismo                                          37
Colesterol_TotalPre_Tx                                              59
LDL_Pre_Tx                                                          61
HDL_Pre_Tx                                                          59
Triglicéridos_Pre_Tx                                                60
Dislipidemia_Pre_Tx                                                 48
MDRD_Score_Pre_Tx                                                   55
MDRD_Categórico_PreTx                                               87
CMV_Receptor                                                        61
EKG_PreQx                                                           73
EKG_PreQx_Valor                                                     57
Valvulopatía_Pre_Tx                                                 49
Ecocardiograma_PreQx_FE%                                            60
Ecocardiograma_PreQx-FE_Cod                                        103
Ecocardiograma_PreQx_RC%                                            58
Ecocardiograma_PreQx_RC                                            114
Ecocardiograma_PreQxPSAP                                            66
Ecocardiograma_PreQx_Hipertensión_Pulmonar                         121
Ecocardiograma_PreQx_TAPSE                                          62
Ecocardiograma_PreQx_TASVE                                          64
Ecocardiograma_PreQx_Disfunción_Diastólica                          54
METS                                                               588
Tx#1                                                                 3
Edad_Donante_Tx#1                                                    8
Sexo_Donante_Tx#1                                                    8
Causa_Muerte_Donante_Tx#1                                           14
CMV_Donante_Tx#1                                                     9
Cirujano_Rescate_1_Tx#1                                              8
Cirujano_Rescate_2_Tx#1                                              8
Tipo_de_Cx-Trasplante_Tx#1                                           8
Trasplante_Combinado-Hígado-Riñón_Tx#1                               7
Tiempo_Isquemia_Fría_Tx#1                                            4
Tiempo_Isquemia_Caliente_Tx#1                                        7
Arterialización_Portal                                               7
Injerto_Aórtico_Tx#1                                                 7
#_Unidades_Glóbulos_Rojos_Tx#1                                       8
#_Unidades_Plasma_Fresco_Congelado_Tx#1                              7
#_Unidades_Crioprecipitados_Tx#1                                     7
#_Unidades_Plaquetas_Tx#1                                            7
Tiempo_Quirúrgico_Tx#1                                              14
Antibiótico_Profiláctico_VS_Terapéutico                              7
Días_Tratamiento_Antibiótico_Previo_A_Tx#1                          12
Antibiótico_1__Tx#1                                                 13
Antibiótico_2_Tx#1                                                   8
Antibiótico_3_Tx#1                                                   8
Antifúngico_Tx#1                                                     8
Tiempo_De_Dosis_Hasta_Tx#1                                          22
Cirujano_Principal_Tx#1                                              3
Cirujano_Ayudante_Tx#1                                             485
Fecha_Colocación_Sonda_Vesical                                     282
Fecha_Retiro_Sonda_Vesical                                          61
Tiempo_Sonda_Vesical                                               152
Fecha_Colocación_CVC                                               282
Fecha_Retiro_CVC                                                    90
Tiempo_CVC                                                         129
Soporte_Vasopresor_PeriTx                                           50
Levosimendan_PeriTx                                                 44
Levosimendam_Dosis                                                  67
Noradrenalina_PeriTx                                                47
Noradrenalina_Dosis                                                 54
Adrenalina_PeriTx                                                   46
Andrenalina_Dois                                                    67
Vasopresina_PeriTx                                                  46
Vasopresina_Dosis                                                   66
Dopamina_PeriTx                                                     47
Dopamina_Dosis                                                      69
Amiodarona_PeriTx                                                   47
Amiodarona_Dosis                                                    69
Tx_Soporte_Inotrópico                                              100
Bilirrubina_Total_POP                                              129
COD_ Bilirrubina_Total_POP                                         216
Bilirrubina_Directa_POP                                            130
COD_Bilirrubina_Directa                                            216
¿Complicación?                                                      27
#_De_Complicaciones                                                 42
Tipo_De_Complicación_1                                              54
Inmunosupresor_1                                                    29
Inmunosupresor_2                                                    29
Inmunosupresión_con_Anticuerpos                                     31
Rechazo_Agudo                                                       33
Severidad_Rechazo_Agudo                                             48
Rechazo_Crónico                                                     34
Infección_POP                                                      130
Tipo_Infección_1                                                   152
Germen_1                                                           184
Fecha_Infección_1                                                  165
Tiempo_Desde_Tx_Infección_1                                         47
Tipo_Infección_2                                                   170
Germen_2                                                           189
Fecha_Infección_2                                                  172
Tiempo_Desde_Tx_Infección_2                                         51
Tipo_Infección_3                                                   174
Germen_3                                                           193
Fecha_Infección_3                                                   53
Tiempo_Desde_Tx_Infección_3                                         53
Stent                                                               31
Requirió_Reconstrucción_Biliar                                      28
Fecha_Reconstrucción_Biliar                                         54
Tiempo_Reconstrucción_Biliar                                        58
Profilaxis_Antitrombótica                                          154
Medicamento_Antitrombótica                                         158
Días_de_Profilaxis_Antitrombótica                                  196
Falla_Cardiaca_POP                                                  67
Arritmia_POP                                                        66
Infarto_POP                                                         63
EKG_VALOR_POP                                                       91
Ecocardiograma_POP_FE%                                              93
Ecocardiograma_POP_PASP                                             93
Ecocardiograma_POP_Otros                                            92
Retrasplante                                                         4
Indicación_Retrasplante                                             55
Fecha-Enlistamiento_Tx#2                                            56
Año_Tx2 (si no retx, poner año tx)                                   0
Fecha_Tx#2                                                          54
Mes_Tx#2                                                            55
Días_Reenlistado_Tx#2                                               55
Días_Desde_Tx#1                                                     55
Edad_Donante_Tx#2                                                   55
Sexo_Donante_Tx#2                                                   55
Causa_Muerte_Donante_Tx#2                                           55
CMV_Donante_Tx#0                                                    55
Cirujano_Rescate_1_Tx#2                                             86
Cirujano_Rescate_2_Tx#2                                             86
Tipo_de_Cx-Trasplante_Tx#2                                          55
Tiempo_Isquemia_Fría_Tx#2                                           55
Tiempo_Isquemia_Caliente_Tx#2                                       55
Injerto_Aórtico_Tx#2                                                55
#_Unidades_Glóbulos_Rojos_Tx#2                                      55
#_Unidades_Plasma_Fresco_Congelado_Tx#2                             55
#_Unidades_Crioprecipitados_Tx#2                                    55
#_Unidades_Plaquetas_Tx#2                                           55
Tiempo_Quirúrgico_Tx#2                                              55
Días_Tratamiento_Antibiótico_Previo_A_Tx#2                          66
Antibiótico_1_Tx#2                                                  81
Antibiótico_2_Tx#2                                                  90
Antibiótico_3_Tx#2                                                  92
Antifúngico_Tx#2                                                    93
Segunda_Dosis_Tx#2                                                  64
Tiempo_De_Dosis_Hasta_Tx#2                                          60
Cirujano_Principal_Tx#2                                             55
Cirujano_Ayudante_Tx#2                                              86
Re_Re trasplante                                                     5
Indicación_Re_Re_trasplante                                         56
Fecha-Enlistamiento_Tx#3                                            56
Año_Tx#3                                                             0
Fecha_Tx#3                                                          56
Mes_Tx#3                                                            93
Días_Reenlistado_Tx#3                                               56
Días_Desde_Tx#1.1                                                   56
Edad_Donante_Tx#3                                                   56
Sexo_Donante_Tx#3                                                   56
Causa_Muerte_Donante_Tx#3                                           56
CMV_Donante_Tx#3                                                    56
Cirujano_Rescate_1_Tx#3                                             57
Cirujano_Rescate_2_Tx#3                                             57
Tipo_de_Cx-Trasplante_Tx#3                                          56
Tiempo_Isquemia_Fría_Tx#3                                           56
Tiempo_Isquemia_Caliente_Tx#3                                       56
Injerto_Aórtico_Tx#3                                                56
#_Unidades_Glóbulos_Rojos_Tx#3                                      56
#_Unidades_Plasma_Fresco_Congelado_Tx#3                             56
#_Unidades_Crioprecipitados_Tx#3                                    56
#_Unidades_Plaquetas_Tx#3                                           56
Tiempo_Quirúrgico_Tx#3                                              56
Cirujano_Principal_Tx#3                                             56
Cirujano_Ayudante_Tx#3                                              57
Fast_Track                                                           9
Días_En_UCI                                                          8
Días_En_Hospitalización_Piso                                         3
Días_Totales_Intrahospitalarios                                      3
Fecha_Egreso_UCI                                                   579
Fecha_Egreso_Hospitalario                                          550
Sobrevida_PeriQx_30_días_POP                                         3
Vivo_Hoy                                                             3
Fecha_Control/Muerte                                                 3
Sobrevida_Días                                                       0
Sobrevida_Meses                                                      0
Sobrevida_Años                                                       0
Último_Análisis_De_Mortalidad                                        3
Años_Desde_El_Tx                                                     0
Causa_De_Muerte                                                     75
Complicación_Asociada                                               86
Sobrevida_Injerto_#1                                                10
Control_Injerto_#1                                                   4
Días_Sobrevida_Injerto_#1                                            2
Meses_Sobrevida_Injerto_#1                                           2
Años_Sobrevida_Injerto_#1                                            2
Sobrevida_Injerto_#2                                                56
Control_Injerto_#2                                                  56
Días_Sobrevida_Injerto_#2                                           56
Meses_Sobrevida_Injerto_#2                                          56
Años_Sobrevida_Injerto_#2                                           56
Sobrevida_Injerto_#3                                                56
Control_Injerto_#3                                                  56
Días_Sobrevida_Injerto_#3                                           56
Meses_Sobrevida_Injerto_#3                                          56
Años_Sobrevida_Injerto_#3                                           56
PTLD                                                                53
Fecha_Tx_A_PTLD                                                     62
Tiempo_Tx_A_PTLD                                                    75
Neoplasia_PostTx                                                    54
Fecha_Neoplasia_PostTx                                              71
Tiempo_Tx_A_Neoplasia_PostTx                                        88
Hepatocarcinoma.1                                                    6
αFP_Al_Dx                                                           93
#_Nódulos_Al_Dx                                                    113
Diámetro_Nódulo_Principal_(cm)_Al_Dx                               112
Sumatoria_#Nódulos_y_Diámetros_Al_Dx                               121
Cumple_Milán                                                       229
Cumple_UCSF                                                        229
Cumple_Up_To_Seven                                                 122
Terapia_Local_1                                                    102
Terapia_Local_2                                                    105
#_Sesiones                                                         104
Fecha_última_Terapia_Local_PreTx                                   109
αFP_PreTx                                                          106
Ca-19-9_PreTx                                                      101
Neutrófilos_PreTx                                                  229
Plaquetas_PreTx                                                    229
Linfocitos_PreTx                                                   229
NLR                                                                229
PLR                                                                229
PREMORAL_Valor                                                     229
PREMORAL_Categoría                                                 229
Patrón_Histológico                                                 118
Grado_HCC                                                          119
Invasión_Vascular                                                  118
Trombosis_Porta_Tumoral                                            115
Invasión_Linfática                                                 229
Invasión_Nerviosa                                                  229
Necrosis_Tumoral                                                   118
#Nódulos_Viables                                                   229
Diámetro_Tumor_Viable_Más_Grande_Patología                         229
Sumatoria_Nódulos_Viables_y_Diámetro_Tumor_Más_Grande_Patología    229
Ki67                                                               115
Mitosis                                                            114
p53                                                                115
αFP_Patología                                                      115
T                                                                  112
N                                                                  112
M                                                                  112
Estadio                                                            105
POSTMORAL_Valor                                                    230
POSTMORAL_Categoría                                                230
RETREAT_Valor                                                      230
COMBOMORAL_Valor                                                   230
COMBOMORAL_Categoría                                               230
αFP_1m_PostTx                                                      122
αFP_6m_PostTx                                                      126

In [9]:
#mira cuáles de las filas están completas #De acuerdo con lo que se observa no hay filas que estén totalmente completas
df_trashepatico.notnull().all(axis=1).sum()

np.int64(0)

In [10]:
#mostrar duplicados
print(f'Duplicados:{df_trashepatico.duplicated().sum()}')
print(f'Duplicados %:{df_trashepatico.duplicated().sum()/len(df_trashepatico)}')

Duplicados:0
Duplicados %:0.0

In [11]:
#quita los espacios de los nombres de las variables
df_trashepatico.columns = df_trashepatico.columns.str.strip()

In [12]:
categoricas = [
    'Mes_Tx#1', 'Sexo_Receptor', 'EPS', 'Grupo_Sanguíneo_Receptor',
    'RH_Receptor', 'COD_Grupo_Sanguíneo_Receptor', 'COD_RH_Receptor',
    'Causa_1_Tx_Hepático_', 'Causa_2_Tx_Hepático_', 'Hepatocarcinoma',
    'Child_Pugh_Letra', 'MELD_Score', 'Falla_Cardiaca_Pre_Tx',
    'Enfermedad_Coronaria_Pre_Tx', 'Infarto_Cardiaco_Pre_Tx',
    'Diabetes_Mellitus_Pre_Tx', 'Hipertensión_Arterial_Pre_Tx',
    'Antecedente_De_Alcoholismo', 'MDRD_Categórico_PreTx', 'CMV_Receptor',
    'EKG_PreQx_Valor', 'Ecocardiograma_PreQx-FE_Cod', 'Ecocardiograma_PreQx_RC',
    'Ecocardiograma_PreQx_Hipertensión_Pulmonar', 'Ecocardiograma_PreQx_Disfunción_Diastólica',
    'METS', 'Sexo_Donante_Tx#1', 'Causa_Muerte_Donante_Tx#1', 'CMV_Donante_Tx#1',
    'Tipo_de_Cx-Trasplante_Tx#1', 'Trasplante_Combinado-Hígado-Riñón_Tx#1', 'Injerto_Aórtico_Tx#1',
    'Antibiótico_Profiláctico_VS_Terapéutico', 'Antibiótico_1__Tx#1', 'Antifúngico_Tx#1', 'Soporte_Vasopresor_PeriTx', 'Noradrenalina_PeriTx', 'Vasopresina_PeriTx',
    'Amiodarona_PeriTx', 'COD_Bilirrubina_Directa',
    '¿Complicación?', 'Tipo_De_Complicación_1', 'Inmunosupresor_1',
    'Inmunosupresor_2', 'Inmunosupresión_con_Anticuerpos', 'Rechazo_Agudo',
    'Severidad_Rechazo_Agudo', 'Rechazo_Crónico', 'Infección_POP',
    'Tipo_Infección_1', 'Germen_1', 'Tipo_Infección_2', 'Germen_2', 'Germen_3',
    'Stent', 'Requirió_Reconstrucción_Biliar', 'Profilaxis_Antitrombótica',
    'Medicamento_Antitrombótica', 'Falla_Cardiaca_POP', 'Arritmia_POP',
    'Infarto_POP', 'Retrasplante', 'Indicación_Retrasplante', 'Mes_Tx#2',
    'Días_Desde_Tx#1', 'Edad_Donante_Tx#2', 'Causa_Muerte_Donante_Tx#2',
    'Tipo_de_Cx-Trasplante_Tx#2',
    'Injerto_Aórtico_Tx#2', 'Antibiótico_1_Tx#2', 'Antibiótico_2_Tx#2',
    'Antibiótico_3_Tx#2', 'Antifúngico_Tx#2', 'Re_Re trasplante', 'Indicación_Re_Re_trasplante', 'Mes_Tx#3',
    'Sexo_Donante_Tx#3', 'Causa_Muerte_Donante_Tx#3', 'CMV_Donante_Tx#3',
    'Tipo_de_Cx-Trasplante_Tx#3', 'Fast_Track', 'Vivo_Hoy',
    'Causa_De_Muerte', 'Sobrevida_Injerto_#1', 'Sobrevida_Injerto_#2',
    'Sobrevida_Injerto_#3', 'PTLD', 'Neoplasia_PostTx', 'Cumple_Milán',
    'Cumple_UCSF', 'Cumple_Up_To_Seven', 'Terapia_Local_1', 'Terapia_Local_2',
    'PLR', 'PREMORAL_Categoría', 'Patrón_Histológico', 'Grado_HCC',
    'Invasión_Vascular','Invasión_Linfática',
    'Invasión_Nerviosa', 'Necrosis_Tumoral', 'Ki67', 'Mitosis', 'p53',
    'T', 'N', 'M', 'Estadio', 'COMBOMORAL_Categoría',
    'Lugar_De_Recurrencia'
]
numericas = [
    'Edad_Al_Tx', 'Tiempo_En_Lista_Días', 'Tiempo_En_Lista_Meses',
    'Tiempo_En_Lista_Años', 'Peso_Pre_Tx', 'BMI', 'Composición_Corporal',
    'Colesterol_TotalPre_Tx', 'LDL_Pre_Tx', 'HDL_Pre_Tx', 'Triglicéridos_Pre_Tx',
    'Dislipidemia_Pre_Tx', 'MDRD_Score_Pre_Tx', 'Ecocardiograma_PreQx_FE%',
    'Ecocardiograma_PreQx_RC%', 'Ecocardiograma_PreQxPSAP', 'Ecocardiograma_PreQx_TASVE',
    'Edad_Donante_Tx#1', 'Tiempo_Isquemia_Fría_Tx#1',
    'Tiempo_Isquemia_Caliente_Tx#1', '#_Unidades_Glóbulos_Rojos_Tx#1',
    '#_Unidades_Crioprecipitados_Tx#1', 'Días_Tratamiento_Antibiótico_Previo_A_Tx#1',
    'Tiempo_De_Dosis_Hasta_Tx#1', 'Tiempo_Sonda_Vesical', 'Tiempo_CVC',
    'Levosimendam_Dosis', 'Noradrenalina_Dosis', 'Andrenalina_Dois',
    'Vasopresina_Dosis', 'Dopamina_PeriTx', 'Amiodarona_Dosis',
    'Tx_Soporte_Inotrópico', 'Bilirrubina_Total_POP', 'Bilirrubina_Directa_POP',
    '#_De_Complicaciones', 'Tiempo_Desde_Tx_Infección_1',
    'Tiempo_Desde_Tx_Infección_2', 'Tiempo_Desde_Tx_Infección_3',
    'Tiempo_Reconstrucción_Biliar', 'Días_de_Profilaxis_Antitrombótica',
    'EKG_VALOR_POP', 'Ecocardiograma_POP_FE%', 'Días_Reenlistado_Tx#2',
    'Sexo_Donante_Tx#2', 'Tiempo_Isquemia_Fría_Tx#2',
    'Tiempo_Isquemia_Caliente_Tx#2', '#_Unidades_Glóbulos_Rojos_Tx#2',
    '#_Unidades_Plasma_Fresco_Congelado_Tx#2', '#_Unidades_Crioprecipitados_Tx#2',
    '#_Unidades_Plaquetas_Tx#2', 'Días_Reenlistado_Tx#3', 'Días_Desde_Tx#1',
    'Edad_Donante_Tx#3', 'Tiempo_Isquemia_Fría_Tx#3', 'Tiempo_Isquemia_Caliente_Tx#3',
    '#_Unidades_Glóbulos_Rojos_Tx#3', '#_Unidades_Plasma_Fresco_Congelado_Tx#3',
    '#_Unidades_Crioprecipitados_Tx#3', '#_Unidades_Plaquetas_Tx#3',
    'Tiempo_Quirúrgico_Tx#3', 'Días_En_UCI', 'Días_En_Hospitalización_Piso',
    'Días_Totales_Intrahospitalarios', 'Sobrevida_Días', 'Sobrevida_Meses',
    'Sobrevida_Años',
    'Días_Sobrevida_Injerto_#1', 'Meses_Sobrevida_Injerto_#1',
    'Años_Sobrevida_Injerto_#1', 'Días_Sobrevida_Injerto_#2',
    'Meses_Sobrevida_Injerto_#2', 'Años_Sobrevida_Injerto_#2',
    'Días_Sobrevida_Injerto_#3', 'Meses_Sobrevida_Injerto_#3',
    'Años_Sobrevida_Injerto_#3', 'Tiempo_Tx_A_PTLD',
    'Tiempo_Tx_A_Neoplasia_PostTx', 'αFP_Al_Dx', '#_Nódulos_Al_Dx',
    'Diámetro_Nódulo_Principal_(cm)_Al_Dx',
    'Sumatoria_#Nódulos_y_Diámetros_Al_Dx', '#_Sesiones', 'αFP_PreTx',
     'Neutrófilos_PreTx', 'Plaquetas_PreTx', 'Linfocitos_PreTx',
    'PREMORAL_Valor', '#Nódulos_Viables',
    'Diámetro_Tumor_Viable_Más_Grande_Patología',
    'Sumatoria_Nódulos_Viables_y_Diámetro_Tumor_Más_Grande_Patología',
    'αFP_1m_PostTx', 'POSTMORAL_Valor', 'RETREAT_Valor', 'COMBOMORAL_Valor',
    'αFP_6m_PostTx', 'αFP_1año_PostTx','Tiempo_Quirúrgico_Tx#2', 'Días_Tratamiento_Antibiótico_Previo_A_Tx#2',
    'Tiempo_De_Dosis_Hasta_Tx#2'
  ]

fechas = [
    'Fecha_Tx', 'Fecha_nacimiento', 'Fecha-Enlistamiento',
    'Fecha_Colocación_Sonda_Vesical', 'Fecha_Retiro_Sonda_Vesical',
    'Fecha_Colocación_CVC', 'Fecha_Retiro_CVC', 'Fecha_Infección_1',
    'Fecha_Infección_2', 'Fecha_Infección_3',
    'Fecha_Reconstrucción_Biliar', 'Fecha-Enlistamiento_Tx#2',
    'Fecha_Tx#2', 'Fecha-Enlistamiento_Tx#3', 'Fecha_Tx#3',
    'Fecha_Egreso_Hospitalario', 'Fecha_Control/Muerte',
    'Último_Análisis_De_Mortalidad', 'Control_Injerto_#1', 'Control_Injerto_#2',
    'Control_Injerto_#3', 'Fecha_Tx_A_PTLD', 'Fecha_Neoplasia_PostTx', 'Fecha_Recurrencia'
  ]

In [13]:
df_trashepatico[categoricas] = df_trashepatico[categoricas].astype('category')

for col in numericas:
    if col in df_trashepatico.columns:
        df_trashepatico[col] = (
            df_trashepatico[col]
            .astype(str)
            .str.replace(',', '.', regex=False)
        )
df_trashepatico[col] = pd.to_numeric(df_trashepatico[col], errors='coerce')

In [14]:
df_trashepatico["Tiempo_CVC"] = pd.to_numeric(df_trashepatico["Tiempo_CVC"], errors='coerce')
df_trashepatico.loc[df_trashepatico["Tiempo_CVC"]< 0, "Tiempo_CVC"] = np.nan
df_trashepatico["Tiempo_CVC"].replace([9999.0,889.0], np.nan, inplace=True)
df_trashepatico["Tiempo_CVC"] = df_trashepatico["Tiempo_CVC"].astype("Int64")

/tmp/ipython-input-2729685195.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Tiempo_CVC"].replace([9999.0,889.0], np.nan, inplace=True)

In [15]:
df_trashepatico["Tiempo_CVC"].value_counts(dropna=False)

Tiempo_CVC
<NA>    327
0        46
5        43
6        42
7        35
4        33
9        32
8        28
10       25
1        24
11       19
3        15
12       13
2        11
13        6
14        5
16        5
22        3
21        3
19        2
17        2
15        2
20        2
30        2
23        2
18        1
33        1
50        1
35        1
24        1
44        1
54        1
59        1
52        1
Name: count, dtype: Int64

In [16]:
df_trashepatico["Soporte_Vasopresor_PeriTx"].replace(9999.0, np.nan, inplace=True)
df_trashepatico["Soporte_Vasopresor_PeriTx"]= df_trashepatico["Soporte_Vasopresor_PeriTx"].astype("Int64")

/tmp/ipython-input-3824541721.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Soporte_Vasopresor_PeriTx"].replace(9999.0, np.nan, inplace=True)
/tmp/ipython-input-3824541721.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico["Soporte_Vasopresor_PeriTx"].replace(9999.0, np.nan, inplace=True)

In [17]:
df_trashepatico["Soporte_Vasopresor_PeriTx"].value_counts(dropna=False)

Soporte_Vasopresor_PeriTx
1       378
0       264
<NA>     94
Name: count, dtype: Int64

In [18]:
df_trashepatico["Levosimendan_PeriTx"].replace(9999.0, np.nan, inplace=True)
df_trashepatico["Levosimendan_PeriTx"]= df_trashepatico["Levosimendan_PeriTx"].astype("Int64")

/tmp/ipython-input-2583256402.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Levosimendan_PeriTx"].replace(9999.0, np.nan, inplace=True)

In [19]:
df_trashepatico["Levosimendan_PeriTx"].value_counts(dropna=False)

Levosimendan_PeriTx
0       644
<NA>     88
1         4
Name: count, dtype: Int64

In [20]:
df_trashepatico["Noradrenalina_PeriTx"].replace(9999.0, np.nan, inplace=True)
df_trashepatico["Noradrenalina_PeriTx"]= df_trashepatico["Noradrenalina_PeriTx"].astype("Int64")

/tmp/ipython-input-2786683910.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Noradrenalina_PeriTx"].replace(9999.0, np.nan, inplace=True)
/tmp/ipython-input-2786683910.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico["Noradrenalina_PeriTx"].replace(9999.0, np.nan, inplace=True)

In [21]:
df_trashepatico["Noradrenalina_PeriTx"].value_counts(dropna=False)

Noradrenalina_PeriTx
1       361
0       283
<NA>     92
Name: count, dtype: Int64

In [22]:
df_trashepatico["Adrenalina_PeriTx"].replace(9999.0, np.nan, inplace=True)
df_trashepatico["Adrenalina_PeriTx"]= df_trashepatico["Adrenalina_PeriTx"].astype("Int64")

/tmp/ipython-input-636599482.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Adrenalina_PeriTx"].replace(9999.0, np.nan, inplace=True)

In [23]:
df_trashepatico["Adrenalina_PeriTx"].value_counts(dropna=False)

Adrenalina_PeriTx
0       593
<NA>     90
1        53
Name: count, dtype: Int64

In [24]:
df_trashepatico["Vasopresina_PeriTx"].replace(9999.0, np.nan, inplace=True)
df_trashepatico["Vasopresina_PeriTx"]= df_trashepatico["Vasopresina_PeriTx"].astype("Int64")

/tmp/ipython-input-1809108604.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Vasopresina_PeriTx"].replace(9999.0, np.nan, inplace=True)
/tmp/ipython-input-1809108604.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico["Vasopresina_PeriTx"].replace(9999.0, np.nan, inplace=True)

In [25]:
df_trashepatico["Vasopresina_PeriTx"].value_counts(dropna=False)

Vasopresina_PeriTx
0       613
<NA>     90
1        33
Name: count, dtype: Int64

In [26]:
df_trashepatico["Dopamina_PeriTx"] = pd.to_numeric(df_trashepatico["Dopamina_PeriTx"], errors="coerce")
df_trashepatico["Dopamina_PeriTx"].replace(9999.0, np.nan, inplace=True)
df_trashepatico["Dopamina_PeriTx"]= df_trashepatico["Dopamina_PeriTx"].astype("Int64")

/tmp/ipython-input-4166881669.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Dopamina_PeriTx"].replace(9999.0, np.nan, inplace=True)

In [27]:
df_trashepatico["Dopamina_PeriTx"].value_counts(dropna=False)

Dopamina_PeriTx
0       560
<NA>     91
1        85
Name: count, dtype: Int64

In [28]:
df_trashepatico["Amiodarona_PeriTx"].replace(9999.0, np.nan, inplace=True)
df_trashepatico["Amiodarona_PeriTx"]= df_trashepatico["Amiodarona_PeriTx"].astype("Int64")
df_trashepatico["Amiodarona_PeriTx"] = df_trashepatico["Amiodarona_PeriTx"].replace(10, 1)

/tmp/ipython-input-1595056800.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Amiodarona_PeriTx"].replace(9999.0, np.nan, inplace=True)
/tmp/ipython-input-1595056800.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico["Amiodarona_PeriTx"].replace(9999.0, np.nan, inplace=True)

In [29]:
df_trashepatico["Amiodarona_PeriTx"].value_counts(dropna=False)

Amiodarona_PeriTx
0       616
<NA>     91
1        29
Name: count, dtype: Int64

In [30]:
col = "¿Complicación?"

# 1️⃣ Reemplazar códigos inválidos por NaN
df_trashepatico[col].replace(9999, np.nan, inplace=True)
# 2️⃣ Pasar los textos equivalentes a "sin complicación" a 0
df_trashepatico[col].replace(["NO", "N0", "NINGUNA", "NINGUNO", "NADA"], 0, inplace=True)

# 3️⃣ Todo lo demás (que no sea 0 ni NaN) se vuelve 1
df_trashepatico[col] = df_trashepatico[col].apply(
    lambda x: 1 if not pd.isna(x) and x != 0 else 0
)

/tmp/ipython-input-2369807675.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico[col].replace(9999, np.nan, inplace=True)
/tmp/ipython-input-2369807675.py:4: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico[col].replace(9999, np.nan, inplace=True)
/tmp/ipython-input-2369807675.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico[col].replace(["NO", "N0", "NINGUNA", "NINGUNO", "NADA"], 0, inplace=True)
/tmp/ipython-input-2369807675.py:6: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico[col].replace(["NO", "N0", "NINGUNA", "NINGUNO", "NADA"], 0, inplace=True)

In [31]:
df_trashepatico["¿Complicación?"].value_counts(dropna=False)

¿Complicación?
0.0    361
1.0    314
NaN     61
Name: count, dtype: int64

In [32]:
df_trashepatico["#_De_Complicaciones"] = pd.to_numeric(df_trashepatico["#_De_Complicaciones"], errors="coerce")
df_trashepatico["#_De_Complicaciones"].replace([9999.0,999.0], np.nan, inplace=True)
df_trashepatico["#_De_Complicaciones"]= df_trashepatico["#_De_Complicaciones"].astype("Int64")

/tmp/ipython-input-1999078908.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["#_De_Complicaciones"].replace([9999.0,999.0], np.nan, inplace=True)

In [33]:
df_trashepatico["#_De_Complicaciones"].value_counts(dropna=False)

#_De_Complicaciones
<NA>    245
2       195
1       139
0       128
4        10
18        6
5         2
8         2
20        2
34        1
32        1
19        1
37        1
33        1
9         1
3         1
Name: count, dtype: Int64

In [34]:
col = "Tipo_De_Complicación_1"

df_trashepatico[col] = df_trashepatico[col].astype(object)
df_trashepatico[col] = df_trashepatico[col].replace([9999, 9999.0, '9999'], np.nan)
df_trashepatico[col] = df_trashepatico[col].astype(str)
df_trashepatico[col] = df_trashepatico[col].str.replace(".", ",", regex=False)
df_trashepatico[col] = df_trashepatico[col].str.split(",")
df_trashepatico = df_trashepatico.explode(col)
df_trashepatico[col] = df_trashepatico[col].str.strip()
mapa = {
    "BUDD CHIARI AGUDO": "24",
    "STEVEN JOHNSON": "42",
    "FALLA RENAL AGUDA": "46",
    "FA": "43",
    "HEMOPERITONEO": "47",
    "FALLA RENAL": "44",
    "PARO RESPIRATORIO": "45",
}
df_trashepatico[col] = df_trashepatico[col].replace(mapa)
df_trashepatico[col] = df_trashepatico[col].replace(["", "nan", "None"], np.nan)
df_trashepatico[col] = pd.to_numeric(df_trashepatico[col], errors='coerce')
df_trashepatico[col] = df_trashepatico[col].astype('Int64')

In [35]:
df_trashepatico["Tipo_De_Complicación_1"].value_counts(dropna=False)

Tipo_De_Complicación_1
0       256
<NA>    199
1        69
4        35
15       33
9        24
18       20
3        18
5        16
2        12
14        8
31        6
6         5
38        5
22        4
7         3
24        3
25        3
19        3
17        3
8         2
26        2
20        2
11        2
21        2
12        1
13        1
16        1
29        1
28        1
30        1
35        1
36        1
34        1
33        1
27        1
40        1
43        1
44        1
47        1
45        1
42        1
46        1
41        1
Name: count, dtype: Int64

In [36]:
df_trashepatico["Rechazo_Agudo"].replace(9999, np.nan, inplace=True)
df_trashepatico["Rechazo_Agudo"] = df_trashepatico["Rechazo_Agudo"].replace("MODERADO", 1)

/tmp/ipython-input-1265437458.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Rechazo_Agudo"].replace(9999, np.nan, inplace=True)
/tmp/ipython-input-1265437458.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico["Rechazo_Agudo"].replace(9999, np.nan, inplace=True)
/tmp/ipython-input-1265437458.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_trashepatico["Rechazo_Agudo"] = df_trashepatico["Rechazo_Agudo"].replace("MODERADO", 1)
/tmp/ipython-input-1265437458.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico["Rechazo_Agudo"] = df_trashepatico["Rechazo_Agudo"].replace("MODERADO", 1)

In [37]:
df_trashepatico["Rechazo_Agudo"].value_counts(dropna=False)

Rechazo_Agudo
0      547
1      143
NaN     64
Name: count, dtype: int64

In [38]:
col = "Severidad_Rechazo_Agudo"

df_trashepatico[col] = df_trashepatico[col].astype(object)
df_trashepatico[col] = df_trashepatico[col].replace([9999, 9999.0, '9999'], np.nan)
df_trashepatico[col] = df_trashepatico[col].astype(str)
df_trashepatico = df_trashepatico.explode(col)
df_trashepatico[col] = df_trashepatico[col].str.strip()
mapa = {
    "SI": "1",

}
df_trashepatico[col] = df_trashepatico[col].replace(mapa)
df_trashepatico[col] = df_trashepatico[col].replace(["", "nan", "None"], np.nan)
df_trashepatico[col] = pd.to_numeric(df_trashepatico[col], errors='coerce')
df_trashepatico[col] = df_trashepatico[col].astype('Int64')

In [39]:
df_trashepatico["Severidad_Rechazo_Agudo"].value_counts(dropna=False)

Severidad_Rechazo_Agudo
0       534
2        87
<NA>     82
3        33
1        17
4         1
Name: count, dtype: Int64

In [40]:
df_trashepatico["Rechazo_Crónico"].replace(9999.0, np.nan, inplace=True)
df_trashepatico["Rechazo_Crónico"]= df_trashepatico["Rechazo_Crónico"].astype("Int64")

/tmp/ipython-input-730622946.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Rechazo_Crónico"].replace(9999.0, np.nan, inplace=True)
/tmp/ipython-input-730622946.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico["Rechazo_Crónico"].replace(9999.0, np.nan, inplace=True)

In [41]:
df_trashepatico["Rechazo_Crónico"].value_counts(dropna=False)

Rechazo_Crónico
0       684
<NA>     66
1         4
Name: count, dtype: Int64

In [42]:
df_trashepatico["Infección_POP"].replace(9999.0, np.nan, inplace=True)
df_trashepatico["Infección_POP"]= df_trashepatico["Infección_POP"].astype("Int64")

/tmp/ipython-input-3521041370.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Infección_POP"].replace(9999.0, np.nan, inplace=True)
/tmp/ipython-input-3521041370.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico["Infección_POP"].replace(9999.0, np.nan, inplace=True)

In [43]:
df_trashepatico["Infección_POP"].value_counts(dropna=False)

Infección_POP
0       419
<NA>    175
1       160
Name: count, dtype: Int64

In [44]:
col = "Tipo_Infección_1"
df_trashepatico[col] = df_trashepatico[col].astype(str)
df_trashepatico[col] = df_trashepatico[col].str.strip()
df_trashepatico[col] = df_trashepatico[col].replace(['99999', '', 'nan', 'None', 'NaN'], np.nan)
mapa = {
    "BILIAR": "19",
    "NEUMONIA": "28",
}
df_trashepatico[col] = df_trashepatico[col].replace(mapa)
df_trashepatico[col] = pd.to_numeric(df_trashepatico[col], errors='coerce')
df_trashepatico[col] = df_trashepatico[col].astype('Int64')

In [45]:
df_trashepatico["Tipo_Infección_1"].value_counts(dropna=False)

Tipo_Infección_1
9999    329
<NA>    154
0       111
2        50
10       28
1        18
3        13
11       10
5        10
8        10
6         5
4         4
7         2
16        2
19        2
18        2
9         1
13        1
17        1
28        1
Name: count, dtype: Int64

In [46]:
col = "Germen_1"
df_trashepatico[col] = df_trashepatico[col].astype(str)
df_trashepatico[col] = df_trashepatico[col].str.strip().str.upper()
df_trashepatico[col] = df_trashepatico[col].replace(['9999', '', 'NAN', 'NONE'], np.nan)
mapa_germenes = {
    "ECOLI": "7",
    "E.COLI": "7",
    "ECOLI BLEE": "7",
    "ESCHERICHIA COLI": "7",
    "ESCHERICHI COLI": "7",
    "ENTEROBACTER CLOACAE": "1",
    "ENTEROCOCCUS FAECALIS": "2",
    "CITROBACTER FREUNDII": "3",
    "CANDIDA": "10",
    "KPC": "28",
    "S.CAPITIS": "19",
}

def procesar_germen(valor):
    if pd.isna(valor):
        return valor
    if ',' in valor or ' Y ' in valor:

        germenes = valor.replace(' Y ', ',').split(',')
        germenes = [g.strip() for g in germenes if g.strip()]

        for germen in germenes:
            if germen in mapa_germenes:
                return mapa_germenes[germen]
        return np.nan

    return mapa_germenes.get(valor, valor)

df_trashepatico[col] = df_trashepatico[col].apply(procesar_germen)

df_trashepatico[col] = pd.to_numeric(df_trashepatico[col], errors='coerce')

df_trashepatico[col] = df_trashepatico[col].astype('Int64')

In [47]:
df_trashepatico["Germen_1"].value_counts(dropna=False)

Germen_1
<NA>    539
0        93
1        33
7        28
17        8
10        6
14        6
16        6
3         5
2         5
28        3
32        2
26        2
12        2
6         2
24        2
23        2
19        2
4         1
8         1
18        1
22        1
9         1
31        1
27        1
30        1
Name: count, dtype: Int64

In [48]:
df_trashepatico["Stent"].replace(9999.0, np.nan, inplace=True)
df_trashepatico["Stent"]= df_trashepatico["Stent"].astype("Int64")

/tmp/ipython-input-2288281641.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Stent"].replace(9999.0, np.nan, inplace=True)
/tmp/ipython-input-2288281641.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico["Stent"].replace(9999.0, np.nan, inplace=True)

In [49]:
df_trashepatico["Stent"].value_counts(dropna=False)

Stent
0       554
1       115
<NA>     85
Name: count, dtype: Int64

In [50]:
df_trashepatico["Requirió_Reconstrucción_Biliar"].replace(9999.0, np.nan, inplace=True)
df_trashepatico["Requirió_Reconstrucción_Biliar"]= df_trashepatico["Requirió_Reconstrucción_Biliar"].astype("Int64")

/tmp/ipython-input-3958447815.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Requirió_Reconstrucción_Biliar"].replace(9999.0, np.nan, inplace=True)
/tmp/ipython-input-3958447815.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico["Requirió_Reconstrucción_Biliar"].replace(9999.0, np.nan, inplace=True)

In [51]:
df_trashepatico["Requirió_Reconstrucción_Biliar"].value_counts(dropna=False)

Requirió_Reconstrucción_Biliar
0       641
<NA>     84
1        29
Name: count, dtype: Int64

In [52]:
df_trashepatico["Profilaxis_Antitrombótica"].replace(9999.0, np.nan, inplace=True)
df_trashepatico["Profilaxis_Antitrombótica"]= df_trashepatico["Profilaxis_Antitrombótica"].astype("Int64")
df_trashepatico["Profilaxis_Antitrombótica"] = df_trashepatico["Profilaxis_Antitrombótica"].replace(11, 1)

/tmp/ipython-input-2994641655.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Profilaxis_Antitrombótica"].replace(9999.0, np.nan, inplace=True)
/tmp/ipython-input-2994641655.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_trashepatico["Profilaxis_Antitrombótica"].replace(9999.0, np.nan, inplace=True)

In [53]:
df_trashepatico["Profilaxis_Antitrombótica"].value_counts(dropna=False)

Profilaxis_Antitrombótica
1       520
<NA>    208
0        26
Name: count, dtype: Int64

In [54]:

df_trashepatico["Días_de_Profilaxis_Antitrombótica"] = pd.to_numeric(df_trashepatico["Días_de_Profilaxis_Antitrombótica"], errors="coerce")
df_trashepatico["Días_de_Profilaxis_Antitrombótica"]= df_trashepatico["Días_de_Profilaxis_Antitrombótica"].astype("Int64")
df_trashepatico["Días_de_Profilaxis_Antitrombótica"].replace(9999, np.nan, inplace=True)

/tmp/ipython-input-1684886570.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Días_de_Profilaxis_Antitrombótica"].replace(9999, np.nan, inplace=True)

In [55]:
df_trashepatico["Días_de_Profilaxis_Antitrombótica"].dtype

Int64Dtype()

In [56]:
df_trashepatico["Días_de_Profilaxis_Antitrombótica"].value_counts(dropna=False)

Días_de_Profilaxis_Antitrombótica
<NA>    271
1       235
30       28
7        25
6        22
5        19
9        15
8        14
3        12
12       12
10       11
11       11
2        10
0        10
4        10
13        8
16        6
54        6
14        5
15        4
17        3
18        3
43        2
21        2
20        2
29        1
39        1
23        1
26        1
35        1
22        1
27        1
34        1
Name: count, dtype: Int64

In [57]:
df_trashepatico["Fast_Track"] = pd.to_numeric(df_trashepatico["Fast_Track"], errors="coerce")
df_trashepatico["Fast_Track"]= df_trashepatico["Fast_Track"].astype("Int64")
df_trashepatico["Fast_Track"].replace(9999, np.nan, inplace=True)

/tmp/ipython-input-3260142818.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Fast_Track"].replace(9999, np.nan, inplace=True)

In [58]:
df_trashepatico["Fast_Track"].value_counts(dropna=False)

Fast_Track
0       652
1        62
<NA>     40
Name: count, dtype: Int64

In [59]:
df_trashepatico["Días_En_UCI"] = pd.to_numeric(df_trashepatico["Días_En_UCI"], errors="coerce")
df_trashepatico["Días_En_UCI"]= df_trashepatico["Días_En_UCI"].astype("Int64")
df_trashepatico["Días_En_UCI"].replace(9999, np.nan, inplace=True)

/tmp/ipython-input-3899131316.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Días_En_UCI"].replace(9999, np.nan, inplace=True)

In [60]:
df_trashepatico["Días_En_UCI"].value_counts(dropna=False)

Días_En_UCI
1       153
2       153
3       101
4        71
0        64
<NA>     39
5        35
6        23
7        18
8        17
10        8
11        7
9         6
54        6
22        5
20        4
21        4
12        4
13        4
26        4
33        3
23        2
16        2
19        2
45        2
25        2
18        2
59        2
14        2
28        2
46        1
75        1
39        1
44        1
84        1
94        1
17        1
Name: count, dtype: Int64

In [61]:
df_trashepatico["Días_En_Hospitalización_Piso"] = pd.to_numeric(df_trashepatico["Días_En_Hospitalización_Piso"], errors="coerce")
df_trashepatico["Días_En_Hospitalización_Piso"]= df_trashepatico["Días_En_Hospitalización_Piso"].astype("Int64")
df_trashepatico["Días_En_Hospitalización_Piso"].replace(9999, np.nan, inplace=True)
df_trashepatico.loc[
    df_trashepatico["Días_En_Hospitalización_Piso"] < 0,
    "Días_En_Hospitalización_Piso"
] = np.nan

/tmp/ipython-input-1982370866.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Días_En_Hospitalización_Piso"].replace(9999, np.nan, inplace=True)

In [62]:
df_trashepatico["Días_En_Hospitalización_Piso"].value_counts(dropna=False)

Días_En_Hospitalización_Piso
4       80
5       71
0       61
7       61
8       59
6       56
9       50
<NA>    40
3       39
12      28
10      25
13      24
2       20
11      19
16      12
15      10
1        9
14       8
54       7
18       7
17       7
25       6
22       6
21       5
30       5
28       4
23       4
35       3
19       3
20       3
24       3
49       2
31       2
36       2
27       2
41       2
68       1
55       1
26       1
43       1
29       1
32       1
45       1
125      1
38       1
Name: count, dtype: Int64

In [63]:
df_trashepatico["Días_Totales_Intrahospitalarios"] = pd.to_numeric(df_trashepatico["Días_Totales_Intrahospitalarios"], errors="coerce")
df_trashepatico["Días_Totales_Intrahospitalarios"]= df_trashepatico["Días_Totales_Intrahospitalarios"].astype("Int64")
df_trashepatico["Días_Totales_Intrahospitalarios"].replace(9999, np.nan, inplace=True)
df_trashepatico.loc[
    df_trashepatico["Días_Totales_Intrahospitalarios"] < 0,
    "Días_Totales_Intrahospitalarios"
] = np.nan

/tmp/ipython-input-1343434397.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_trashepatico["Días_Totales_Intrahospitalarios"].replace(9999, np.nan, inplace=True)

In [64]:
df_trashepatico["Días_Totales_Intrahospitalarios"].value_counts(dropna=False)

Días_Totales_Intrahospitalarios
6       63
9       60
8       59
7       58
5       54
10      51
<NA>    40
11      31
4       31
12      28
14      27
15      22
16      21
13      21
17      16
18      15
3       14
22      13
21       8
23       7
30       7
20       7
54       7
33       6
1        6
91       6
2        5
19       5
0        5
31       5
34       4
41       4
37       4
43       4
25       3
27       3
28       3
24       3
26       3
39       2
56       2
46       2
45       2
44       2
69       1
75       1
47       1
36       1
58       1
52       1
66       1
35       1
84       1
59       1
94       1
40       1
184      1
76       1
50       1
Name: count, dtype: Int64

In [65]:
df_trashepatico["Fecha_Egreso_UCI"] = pd.to_datetime(df_trashepatico["Fecha_Egreso_UCI"], errors='coerce')

In [66]:
df_trashepatico["Fecha_Egreso_UCI"].value_counts(dropna=False)

Fecha_Egreso_UCI
NaT                              591
1970-01-01 00:00:00.000009999     49
2023-04-21 00:00:00.000000000      6
2022-04-21 00:00:00.000000000      2
2017-11-09 00:00:00.000000000      2
2009-04-04 00:00:00.000000000      1
2009-10-24 00:00:00.000000000      1
2009-12-23 00:00:00.000000000      1
2009-12-20 00:00:00.000000000      1
2010-06-10 00:00:00.000000000      1
2004-08-14 00:00:00.000000000      1
2005-07-15 00:00:00.000000000      1
2006-07-15 00:00:00.000000000      1
2011-03-19 00:00:00.000000000      1
2012-01-04 00:00:00.000000000      1
2012-05-30 00:00:00.000000000      1
2012-12-19 00:00:00.000000000      1
2012-11-17 00:00:00.000000000      1
2013-02-25 00:00:00.000000000      1
2013-04-20 00:00:00.000000000      1
2013-04-30 00:00:00.000000000      1
2013-05-10 00:00:00.000000000      1
2013-05-22 00:00:00.000000000      1
2013-06-10 00:00:00.000000000      1
2014-02-15 00:00:00.000000000      1
2014-02-25 00:00:00.000000000      1
2014-03-23 00:00:00.000000000      1
2014-05-16 00:00:00.000000000      1
2014-06-01 00:00:00.000000000      1
2014-09-10 00:00:00.000000000      1
2014-12-20 00:00:00.000000000      1
2015-01-25 00:00:00.000000000      1
2014-12-24 00:00:00.000000000      1
2015-04-13 00:00:00.000000000      1
2015-03-11 00:00:00.000000000      1
2015-03-12 00:00:00.000000000      1
2015-03-26 00:00:00.000000000      1
2015-06-09 00:00:00.000000000      1
2015-06-12 00:00:00.000000000      1
2015-07-08 00:00:00.000000000      1
2015-07-11 00:00:00.000000000      1
2015-08-21 00:00:00.000000000      1
2010-07-12 00:00:00.000000000      1
2010-08-23 00:00:00.000000000      1
2011-01-06 00:00:00.000000000      1
2015-10-17 00:00:00.000000000      1
2015-09-28 00:00:00.000000000      1
2015-10-14 00:00:00.000000000      1
2015-10-18 00:00:00.000000000      1
2016-09-25 00:00:00.000000000      1
2017-02-11 00:00:00.000000000      1
2016-03-05 00:00:00.000000000      1
2015-11-23 00:00:00.000000000      1
2017-01-21 00:00:00.000000000      1
2017-04-14 00:00:00.000000000      1
2017-01-23 00:00:00.000000000      1
2017-02-04 00:00:00.000000000      1
2017-03-30 00:00:00.000000000      1
2017-07-08 00:00:00.000000000      1
2017-01-17 00:00:00.000000000      1
2016-09-21 00:00:00.000000000      1
2017-11-02 00:00:00.000000000      1
2017-07-18 00:00:00.000000000      1
2018-07-07 00:00:00.000000000      1
2018-06-21 00:00:00.000000000      1
2018-08-02 00:00:00.000000000      1
2019-03-02 00:00:00.000000000      1
2019-08-06 00:00:00.000000000      1
2019-12-21 00:00:00.000000000      1
2021-06-26 00:00:00.000000000      1
2021-11-10 00:00:00.000000000      1
2022-09-07 00:00:00.000000000      1
2022-10-12 00:00:00.000000000      1
2022-10-20 00:00:00.000000000      1
2022-10-29 00:00:00.000000000      1
2022-11-18 00:00:00.000000000      1
2017-01-20 00:00:00.000000000      1
2022-12-04 00:00:00.000000000      1
2022-12-17 00:00:00.000000000      1
2023-02-05 00:00:00.000000000      1
2023-01-23 00:00:00.000000000      1
2023-02-18 00:00:00.000000000      1
2023-02-12 00:00:00.000000000      1
2023-03-05 00:00:00.000000000      1
2023-04-30 00:00:00.000000000      1
1970-01-01 00:00:00.000000000      1
2023-06-14 00:00:00.000000000      1
2023-07-23 00:00:00.000000000      1
2023-08-09 00:00:00.000000000      1
2023-09-02 00:00:00.000000000      1
2023-09-12 00:00:00.000000000      1
2023-10-05 00:00:00.000000000      1
2023-09-24 00:00:00.000000000      1
2023-11-18 00:00:00.000000000      1
2023-11-26 00:00:00.000000000      1
2023-11-20 00:00:00.000000000      1
2023-11-25 00:00:00.000000000      1
2024-02-06 00:00:00.000000000      1
2024-03-13 00:00:00.000000000      1
2024-03-17 00:00:00.000000000      1
2024-04-25 00:00:00.000000000      1
2024-05-24 00:00:00.000000000      1
2024-06-13 00:00:00.000000000      1
2024-08-08 00:00:00.000000000      1
2024-09-17 00:00:00.000000000      1
2024-11-03 00:00:00.000000000      1
2024-12-07 00:00:00.000000000      1
2025-01-17 00:00:00.000000000      1
2025-03-05 00:00:00.000000000      1
Name: count, dtype: int64

In [67]:
df_trashepatico["Fecha_Egreso_Hospitalario"] = pd.to_datetime(df_trashepatico["Fecha_Egreso_Hospitalario"], errors='coerce')

In [68]:
df_trashepatico["Fecha_Egreso_Hospitalario"].value_counts(dropna=False)

Fecha_Egreso_Hospitalario
NaT                              562
1970-01-01 00:00:00.000009999     31
2023-04-21 00:00:00.000000000      6
2017-01-25 00:00:00.000000000      2
2010-01-12 00:00:00.000000000      2
2024-02-19 00:00:00.000000000      2
2023-11-26 00:00:00.000000000      2
2024-10-12 00:00:00.000000000      2
2021-04-22 00:00:00.000000000      2
2023-01-28 00:00:00.000000000      2
2017-11-10 00:00:00.000000000      2
2025-03-03 00:00:00.000000000      2
2011-02-01 00:00:00.000000000      1
2006-07-28 00:00:00.000000000      1
2009-04-04 00:00:00.000000000      1
2009-10-24 00:00:00.000000000      1
2010-06-28 00:00:00.000000000      1
2010-07-12 00:00:00.000000000      1
2010-09-03 00:00:00.000000000      1
2005-11-06 00:00:00.000000000      1
2004-08-14 00:00:00.000000000      1
2013-05-20 00:00:00.000000000      1
2013-05-07 00:00:00.000000000      1
2013-05-02 00:00:00.000000000      1
2013-03-03 00:00:00.000000000      1
2012-11-24 00:00:00.000000000      1
2012-12-19 00:00:00.000000000      1
2012-05-30 00:00:00.000000000      1
2012-01-04 00:00:00.000000000      1
2011-03-19 00:00:00.000000000      1
2015-02-21 00:00:00.000000000      1
2014-12-31 00:00:00.000000000      1
2015-04-13 00:00:00.000000000      1
2015-01-19 00:00:00.000000000      1
2013-06-01 00:00:00.000000000      1
2014-03-04 00:00:00.000000000      1
2013-06-10 00:00:00.000000000      1
2015-07-04 00:00:00.000000000      1
2015-06-30 00:00:00.000000000      1
2015-07-16 00:00:00.000000000      1
2015-07-15 00:00:00.000000000      1
2015-10-25 00:00:00.000000000      1
2015-10-14 00:00:00.000000000      1
2015-10-20 00:00:00.000000000      1
2015-08-31 00:00:00.000000000      1
2015-10-30 00:00:00.000000000      1
2015-12-23 00:00:00.000000000      1
2016-09-23 00:00:00.000000000      1
2016-04-09 00:00:00.000000000      1
2014-04-23 00:00:00.000000000      1
2014-05-28 00:00:00.000000000      1
2014-06-06 00:00:00.000000000      1
2014-02-27 00:00:00.000000000      1
2017-01-24 00:00:00.000000000      1
2017-01-29 00:00:00.000000000      1
2017-02-11 00:00:00.000000000      1
2016-11-05 00:00:00.000000000      1
2017-07-16 00:00:00.000000000      1
2017-07-31 00:00:00.000000000      1
2017-04-27 00:00:00.000000000      1
2017-04-14 00:00:00.000000000      1
2018-06-28 00:00:00.000000000      1
2018-07-15 00:00:00.000000000      1
2019-03-03 00:00:00.000000000      1
2018-08-10 00:00:00.000000000      1
2019-08-06 00:00:00.000000000      1
2019-12-24 00:00:00.000000000      1
2017-11-11 00:00:00.000000000      1
2017-02-10 00:00:00.000000000      1
2021-11-13 00:00:00.000000000      1
2021-07-25 00:00:00.000000000      1
2022-11-28 00:00:00.000000000      1
2022-10-25 00:00:00.000000000      1
2022-11-18 00:00:00.000000000      1
2022-12-10 00:00:00.000000000      1
2022-10-24 00:00:00.000000000      1
2022-11-02 00:00:00.000000000      1
2023-02-17 00:00:00.000000000      1
2022-12-23 00:00:00.000000000      1
2023-02-18 00:00:00.000000000      1
2023-02-11 00:00:00.000000000      1
2015-03-14 00:00:00.000000000      1
2015-03-23 00:00:00.000000000      1
2015-03-26 00:00:00.000000000      1
2014-09-19 00:00:00.000000000      1
2023-03-11 00:00:00.000000000      1
2023-02-26 00:00:00.000000000      1
2023-02-22 00:00:00.000000000      1
2023-02-16 00:00:00.000000000      1
2023-05-12 00:00:00.000000000      1
2023-05-19 00:00:00.000000000      1
2023-04-04 00:00:00.000000000      1
2023-03-30 00:00:00.000000000      1
2023-06-27 00:00:00.000000000      1
2023-07-10 00:00:00.000000000      1
2023-07-04 00:00:00.000000000      1
2023-07-18 00:00:00.000000000      1
2023-07-23 00:00:00.000000000      1
2023-07-26 00:00:00.000000000      1
2023-04-30 00:00:00.000000000      1
2023-05-16 00:00:00.000000000      1
2023-08-29 00:00:00.000000000      1
2023-08-24 00:00:00.000000000      1
2023-09-12 00:00:00.000000000      1
2023-09-07 00:00:00.000000000      1
2023-09-17 00:00:00.000000000      1
2023-10-03 00:00:00.000000000      1
2023-11-16 00:00:00.000000000      1
2023-09-15 00:00:00.000000000      1
2023-09-24 00:00:00.000000000      1
2023-11-09 00:00:00.000000000      1
2023-11-24 00:00:00.000000000      1
2023-11-27 00:00:00.000000000      1
2024-02-10 00:00:00.000000000      1
2024-01-21 00:00:00.000000000      1
2023-06-15 00:00:00.000000000      1
2023-06-14 00:00:00.000000000      1
2024-02-24 00:00:00.000000000      1
2024-02-02 00:00:00.000000000      1
2024-03-30 00:00:00.000000000      1
2024-03-12 00:00:00.000000000      1
2024-04-01 00:00:00.000000000      1
2024-04-10 00:00:00.000000000      1
2024-03-19 00:00:00.000000000      1
2024-04-18 00:00:00.000000000      1
2024-06-07 00:00:00.000000000      1
2024-06-18 00:00:00.000000000      1
2024-06-24 00:00:00.000000000      1
2024-07-05 00:00:00.000000000      1
2024-08-29 00:00:00.000000000      1
2024-08-08 00:00:00.000000000      1
2024-05-11 00:00:00.000000000      1
2024-05-31 00:00:00.000000000      1
2024-09-11 00:00:00.000000000      1
2024-09-04 00:00:00.000000000      1
2024-09-21 00:00:00.000000000      1
2024-09-27 00:00:00.000000000      1
2024-11-14 00:00:00.000000000      1
2024-11-11 00:00:00.000000000      1
2024-11-15 00:00:00.000000000      1
2024-10-25 00:00:00.000000000      1
2024-11-22 00:00:00.000000000      1
2024-12-17 00:00:00.000000000      1
2025-01-02 00:00:00.000000000      1
2024-12-23 00:00:00.000000000      1
2025-01-18 00:00:00.000000000      1
2025-02-03 00:00:00.000000000      1
2025-03-05 00:00:00.000000000      1
2025-03-13 00:00:00.000000000      1
Name: count, dtype: int64

In [69]:
[col for col in df_trashepatico.columns if "Fecha_Egreso_" in col]

['Fecha_Egreso_UCI', 'Fecha_Egreso_Hospitalario']

In [70]:
df_trashepatico[fechas] = df_trashepatico[fechas].apply(
    pd.to_datetime, errors='coerce', dayfirst=True, infer_datetime_format=True
)

/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(
/tmp/ipython-input-2440740876.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_trashepatico[fechas] = df_trashepatico[fechas].apply(

In [71]:
#mostrar las categorias de las categoricas ya que hay varias que toca corregir
for col in categoricas:
    print(f"\n {col}")
    print(df_trashepatico[col].unique())

 Mes_Tx#1
[6, 1, 10, 9, 3, ..., 7, 12, 11, 2, 8]
Length: 12
Categories (12, int64): [1, 2, 3, 4, ..., 9, 10, 11, 12]

 Sexo_Receptor
[2, 1]
Categories (2, int64): [1, 2]

 EPS
[9999.0, 3.0, 1.0, 2.0, 13.0, ..., 32.0, 31.0, NaN, 37.0, 0.0]
Length: 38
Categories (37, float64): [0.0, 1.0, 2.0, 3.0, ..., 33.0, 34.0, 37.0, 9999.0]

 Grupo_Sanguíneo_Receptor
[9999, 'O', 'B', 'A', 'AB', 'O ', 0, 'A2', 'A1', NaN]
Categories (9, object): [0, 9999, 'A', 'A1', ..., 'AB', 'B', 'O', 'O ']

 RH_Receptor
[9999, '(+)', '(-)', '(+)(-)', NaN]
Categories (4, object): [9999, '(+)', '(+)(-)', '(-)']

 COD_Grupo_Sanguíneo_Receptor
[9999.0, 1.0, 3.0, 2.0, 4.0, NaN]
Categories (5, float64): [1.0, 2.0, 3.0, 4.0, 9999.0]

 COD_RH_Receptor
[9999.0, 1.0, 2.0, 12.0, NaN]
Categories (4, float64): [1.0, 2.0, 12.0, 9999.0]

 Causa_1_Tx_Hepático_
[23.0, 14.0, 8.0, 9.0, 12.0, ..., 26.0, 27.0, NaN, 15.0, 28.0]
Length: 28
Categories (27, float64): [1.0, 2.0, 3.0, 4.0, ..., 25.0, 26.0, 27.0, 28.0]

 Causa_2_Tx_Hepático_
[0.0, 21.0, 15.0, 4.0, 2.0, ..., 3.0, 11.0, NaN, 22.0, 9.0]
Length: 11
Categories (10, float64): [0.0, 2.0, 3.0, 4.0, ..., 11.0, 15.0, 21.0, 22.0]

 Hepatocarcinoma
[0.0, 1.0, NaN]
Categories (2, float64): [0.0, 1.0]

 Child_Pugh_Letra
[9999, 'C', 'B', 'A', 'B ', 0, NaN, 2, 3, 1]
Categories (9, object): [0, 1, 2, 3, ..., 'A', 'B', 'B ', 'C']

 MELD_Score
[9999.0, 12.0, 8.0, 14.0, 10.0, ..., 29.0, 30.0, 32.0, 0.0, 57.0]
Length: 36
Categories (35, float64): [0.0, 6.0, 7.0, 8.0, ..., 38.0, 40.0, 57.0, 9999.0]

 Falla_Cardiaca_Pre_Tx
[9999, 0, NaN, 'PERICARDITIS', 1]
Categories (4, object): [0, 1, 9999, 'PERICARDITIS']

 Enfermedad_Coronaria_Pre_Tx
[9999, 0, NaN, 1, 'ANGINA ESTABLE', 'ANGINA INESTABLE']
Categories (5, object): [0, 1, 9999, 'ANGINA ESTABLE', 'ANGINA INESTABLE']

 Infarto_Cardiaco_Pre_Tx
[9999, 0, NaN, 1, 'BLOQUEO AV CON MARCAPASOS']
Categories (4, object): [0, 1, 9999, 'BLOQUEO AV CON MARCAPASOS']

 Diabetes_Mellitus_Pre_Tx
[9999, 0, 1, NaN, 2, 'O']
Categories (5, object): [0, 1, 2, 9999, 'O']

 Hipertensión_Arterial_Pre_Tx
[9999, 0, 1, NaN, 'O']
Categories (4, object): [0, 1, 9999, 'O']

 Antecedente_De_Alcoholismo
[9999.0, 0.0, 1.0, NaN]
Categories (3, float64): [0.0, 1.0, 9999.0]

 MDRD_Categórico_PreTx
[9999.00, 0.00, 1.00, 2.00, NaN, 4.00, 3.00, 999.00, 18.59]
Categories (8, float64): [0.00, 1.00, 2.00, 3.00, 4.00, 18.59, 999.00, 9999.00]

 CMV_Receptor
[9999.0, 1.0, 0.0, NaN]
Categories (3, float64): [0.0, 1.0, 9999.0]

 EKG_PreQx_Valor
[9999, 0, 'BRADICARDIA SINUSAL 57 ', 'BRADICARDIA SINUSAL 45', 'BRADICARDIA SINUSAL 55', ..., 'BLOQUEO COMPLETO DE RAMA DERECHA. HEMIBLOQUEO..., 'BLOQUEO ANTEROSUPERIOR', 'EXTRSÍSTOLES VENTRICULAES', 'PROGRESIÓN LENTA DE LA ONDA R Y ANOMALÍA T IN..., 'NORAML']
Length: 114
Categories (113, object): [0, 5, 6, 7, ...,
                           'fibrilacion auricular extrasistoles ventricul..., 'normal', 'nv', 'taquicardia sinusal']

 Ecocardiograma_PreQx-FE_Cod
[9999, 2, 1, NaN, 0, 'NV', 'nv']
Categories (6, object): [0, 1, 2, 9999, 'NV', 'nv']

 Ecocardiograma_PreQx_RC
[9999, 0, 99999, 2, NaN, ..., 999, 9, 'NV', 'nv', 85]
Length: 11
Categories (10, object): [0, 1, 2, 9, ..., 9999, 99999, 'NV', 'nv']

 Ecocardiograma_PreQx_Hipertensión_Pulmonar
[9999, NaN, 'NO', 0, 1, ..., 39, 34, 20, 40, 2]
Length: 18
Categories (17, object): [0, 1, 2, 20, ..., 39, 40, 9999, 'NO']

 Ecocardiograma_PreQx_Disfunción_Diastólica
[9999, 0, 1, 'IZQUIERDA', NaN, 'NV', 9, 'TIPO 1', 999]
Categories (8, object): [0, 1, 9, 999, 9999, 'IZQUIERDA', 'NV', 'TIPO 1']

 METS
[NaN, 8.4, 9999, 7.5, 11.2, ..., 8.1, 13.5, 13.7, 4, 3.8]
Length: 62
Categories (61, object): [0, 2.5, 2.9, 3, ..., '8.10', '8.7', '9.4', '>8']

 Sexo_Donante_Tx#1
[9999.0, 1.0, 2.0, NaN]
Categories (3, float64): [1.0, 2.0, 9999.0]

 Causa_Muerte_Donante_Tx#1
[9999.0, 5.0, 1.0, 10.0, 3.0, ..., 12.0, 13.0, 14.0, 0.0, 15.0]
Length: 19
Categories (18, float64): [0.0, 1.0, 2.0, 3.0, ..., 14.0, 15.0, 29.0, 9999.0]

 CMV_Donante_Tx#1
[9999.0, 1.0, 0.0, NaN]
Categories (3, float64): [0.0, 1.0, 9999.0]

 Tipo_de_Cx-Trasplante_Tx#1
[0.0, 1.0, 2.0, 3.0, 4.0, NaN]
Categories (5, float64): [0.0, 1.0, 2.0, 3.0, 4.0]

 Trasplante_Combinado-Hígado-Riñón_Tx#1
[9999.0, 0.0, 1.0, NaN]
Categories (3, float64): [0.0, 1.0, 9999.0]

 Injerto_Aórtico_Tx#1
[9999.0, 0.0, 1.0, NaN]
Categories (3, float64): [0.0, 1.0, 9999.0]

 Antibiótico_Profiláctico_VS_Terapéutico
[9999.0, 0.0, 1.0, NaN]
Categories (3, float64): [0.0, 1.0, 9999.0]

 Antibiótico_1__Tx#1
[9999.0, 5.0, 8.0, 2.0, 6.0, ..., 12.0, 3.0, 4.0, 7.0, 20.0]
Length: 15
Categories (14, float64): [2.0, 3.0, 4.0, 5.0, ..., 16.0, 18.0, 20.0, 9999.0]

 Antifúngico_Tx#1
[9999.0, 0.0, 1.0, 3.0, NaN, 2.0, 4.0]
Categories (6, float64): [0.0, 1.0, 2.0, 3.0, 4.0, 9999.0]

 Soporte_Vasopresor_PeriTx
<IntegerArray>
[<NA>, 1, 0]
Length: 3, dtype: Int64

 Noradrenalina_PeriTx
<IntegerArray>
[<NA>, 1, 0]
Length: 3, dtype: Int64

 Vasopresina_PeriTx
<IntegerArray>
[<NA>, 0, 1]
Length: 3, dtype: Int64

 Amiodarona_PeriTx
<IntegerArray>
[<NA>, 0, 1]
Length: 3, dtype: Int64

 COD_Bilirrubina_Directa
[9999.0, 2.0, 5.0, 1.0, NaN, 0.0, 3.0]
Categories (6, float64): [0.0, 1.0, 2.0, 3.0, 5.0, 9999.0]

 ¿Complicación?
[nan  1.  0.]

 Tipo_De_Complicación_1
<IntegerArray>
[<NA>,    1,    5,    8,   14,    0,    6,    7,    4,    2,    3,    9,   18,
   11,   13,   16,   17,   15,   19,   20,   12,   21,   22,   25,   30,   24,
   26,   28,   29,   27,   31,   35,   36,   38,   34,   33,   40,   43,   47,
   44,   45,   42,   46,   41]
Length: 44, dtype: Int64

 Inmunosupresor_1
[9999.0, 1.0, 3.0, 2.0, 0.0, NaN]
Categories (5, float64): [0.0, 1.0, 2.0, 3.0, 9999.0]

 Inmunosupresor_2
[9999.0, 2.0, 1.0, 0.0, NaN]
Categories (4, float64): [0.0, 1.0, 2.0, 9999.0]

 Inmunosupresión_con_Anticuerpos
[9999.0, 1.0, 2.0, 0.0, NaN]
Categories (4, float64): [0.0, 1.0, 2.0, 9999.0]

 Rechazo_Agudo
[NaN, 1, 0]
Categories (2, int64): [0, 1]

 Severidad_Rechazo_Agudo
<IntegerArray>
[<NA>, 2, 0, 3, 1, 4]
Length: 6, dtype: Int64

 Rechazo_Crónico
<IntegerArray>
[<NA>, 0, 1]
Length: 3, dtype: Int64

 Infección_POP
<IntegerArray>
[<NA>, 1, 0]
Length: 3, dtype: Int64

 Tipo_Infección_1
<IntegerArray>
[9999, 3, <NA>, 2, 11, 6, 16, 8, 1, 4, 5, 10, 9, 17, 13, 18, 0, 19, 28, 7]
Length: 20, dtype: Int64

 Germen_1
<IntegerArray>
[<NA>,   10,    2,    7,   17,   14,    8,   26,    4,    3,    1,   16,   24,
   23,   18,   19,   22,    6,    9,   27,   28,   30,   31,   32,   12,    0]
Length: 26, dtype: Int64

 Tipo_Infección_2
[9999.0, 11.0, NaN, 16.0, 7.0, ..., 3.0, 4.0, 0.0, 14.0, 18.0]
Length: 18
Categories (17, float64): [0.0, 1.0, 2.0, 3.0, ..., 14.0, 16.0, 18.0, 9999.0]

 Germen_2
[9999, NaN, 8, 9, 10, ..., 'E FECALIS', 99999, 32, 33, 11]
Length: 24
Categories (23, object): [0, 1, 2, 3, ..., 33, 9999, 99999, 'E FECALIS']

 Germen_3
[9999.0, NaN, 99999.0, 1.0, 13.0, ..., 7.0, 16.0, 0.0, 35.0, 36.0]
Length: 16
Categories (15, float64): [0.0, 1.0, 2.0, 7.0, ..., 36.0, 999.0, 9999.0, 99999.0]

 Stent
<IntegerArray>
[<NA>, 1, 0]
Length: 3, dtype: Int64

 Requirió_Reconstrucción_Biliar
<IntegerArray>
[<NA>, 0, 1]
Length: 3, dtype: Int64

 Profilaxis_Antitrombótica
<IntegerArray>
[<NA>, 1, 0]
Length: 3, dtype: Int64

 Medicamento_Antitrombótica
[9999.0, NaN, 2.0, 1.0, 0.0, 3.0]
Categories (5, float64): [0.0, 1.0, 2.0, 3.0, 9999.0]

 Falla_Cardiaca_POP
[9999.0, 0.0, 1.0, NaN]
Categories (3, float64): [0.0, 1.0, 9999.0]

 Arritmia_POP
[9999, 0, 1, 3, NaN, ..., '1+2', '1 (FA)', '1 y 2', 'FA', 'REVISAR HOLTER']
Length: 35
Categories (34, object): [0, 1, 2, 3, ...,
                          'TAQUICARDIA SINUSAL, BRADICARDIA, PARO, AESP,..., 'TAQUICARDIA SINUSAL, TAQUICARDIA SURPAVENTRIC...,
                          'TAQUICARDIA SINUSAL/ FIBRILACION VENTRICULAR ..., 'aesp']

 Infarto_POP
[9999, 0, NaN, 'P', 1, 2, '2 (2 INFARTOS)']
Categories (6, object): [0, 1, 2, 9999, '2 (2 INFARTOS)', 'P']

 Retrasplante
[0.0, 1.0, NaN]
Categories (2, float64): [0.0, 1.0]

 Indicación_Retrasplante
[9999.0, 5.0, 2.0, 1.0, 3.0, 4.0, 6.0, NaN]
Categories (7, float64): [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 9999.0]

 Mes_Tx#2
[9999.0, 6.0, 7.0, 11.0, 12.0, ..., 3.0, 10.0, 2.0, 5.0, NaN]
Length: 14
Categories (13, float64): [1.0, 2.0, 3.0, 4.0, ..., 10.0, 11.0, 12.0, 9999.0]

 Días_Desde_Tx#1
['9999.0' '1293.0' '26.0' '17.0' '148.0' '13.0' '4.0' '5.0' '2.0' '1.0'
 '3.0' '11.0' '10.0' '8.0' '32.0' '43.0' '23.0' '9.0' '24.0' '0.0' '20.0'
 '159.0' 'nan' '7.0']

 Edad_Donante_Tx#2
[9999.0, 29.0, 26.0, 31.0, 46.0, ..., 24.00, 21.00, 55.00, NaN, 0.66]
Length: 34
Categories (33, float64): [0.66, 16.00, 17.00, 18.00, ..., 60.0, 61.0, 64.0, 9999.0]

 Causa_Muerte_Donante_Tx#2
[9999, 1, 5, 10, 7, 9, 2, 'TRAUMA CRANEO', 'ACV', NaN]
Categories (9, object): [1, 2, 5, 7, ..., 10, 9999, 'ACV', 'TRAUMA CRANEO']

 Tipo_de_Cx-Trasplante_Tx#2
[9999.0, 3.0, 1.0, 2.0, 4.0, NaN]
Categories (5, float64): [1.0, 2.0, 3.0, 4.0, 9999.0]

 Injerto_Aórtico_Tx#2
[9999.0, 1.0, 2.0, 0.0, NaN]
Categories (4, float64): [0.0, 1.0, 2.0, 9999.0]

 Antibiótico_1_Tx#2
[9999.0, NaN, 5.0, 6.0, 8.0, 4.0, 7.0]
Categories (6, float64): [4.0, 5.0, 6.0, 7.0, 8.0, 9999.0]

 Antibiótico_2_Tx#2
[9999.0, NaN, 10.0, 0.0, 14.0, 19.0]
Categories (5, float64): [0.0, 10.0, 14.0, 19.0, 9999.0]

 Antibiótico_3_Tx#2
[9999.0, NaN, 0.0]
Categories (2, float64): [0.0, 9999.0]

 Antifúngico_Tx#2
[9999.0, NaN, 1.0, 2.0, 3.0, 0.0]
Categories (5, float64): [0.0, 1.0, 2.0, 3.0, 9999.0]

 Re_Re trasplante
[0.0, 1.0, NaN]
Categories (2, float64): [0.0, 1.0]

 Indicación_Re_Re_trasplante
[9999.0, 1.0, 2.0, NaN]
Categories (3, float64): [1.0, 2.0, 9999.0]

 Mes_Tx#3
[9999.0, NaN, 12.0]
Categories (2, float64): [12.0, 9999.0]

 Sexo_Donante_Tx#3
[9999.0, 1.0, NaN]
Categories (2, float64): [1.0, 9999.0]

 Causa_Muerte_Donante_Tx#3
[9999.0, 1.0, NaN]
Categories (2, float64): [1.0, 9999.0]

 CMV_Donante_Tx#3
[9999.0, 1.0, NaN]
Categories (2, float64): [1.0, 9999.0]

 Tipo_de_Cx-Trasplante_Tx#3
[9999.0, 2.0, NaN]
Categories (2, float64): [2.0, 9999.0]

 Fast_Track
<IntegerArray>
[<NA>, 0, 1]
Length: 3, dtype: Int64

 Vivo_Hoy
[9999.0, 1.0, 0.0, NaN]
Categories (3, float64): [0.0, 1.0, 9999.0]

 Causa_De_Muerte
[9999, 1, 4, 2, 12, ..., NaN, '****', 'FALLA RENAL AGUDA', 'Insifuciencia renal aguda', 'TROMBOSIS VENAS SUPRAHEPÁTICAS']
Length: 44
Categories (43, object): [1, 2, 3, 4, ..., 'sepsis abdominal', 'shock', 'shock mixto',
                          'shock mixto - sepsis']

 Sobrevida_Injerto_#1
[9999.0, 1.0, 0.0, NaN]
Categories (3, float64): [0.0, 1.0, 9999.0]

 Sobrevida_Injerto_#2
[9999.0, 1.0, 0.0, NaN]
Categories (3, float64): [0.0, 1.0, 9999.0]

 Sobrevida_Injerto_#3
[9999.0, 0.0, 1.0, NaN]
Categories (3, float64): [0.0, 1.0, 9999.0]

 PTLD
[9999, 0, 1, ' ', NaN]
Categories (4, object): [0, 1, 9999, ' ']

 Neoplasia_PostTx
[8888.0, 0.0, 1.0, 2.0, 7.0, ..., NaN, 6.0, 4.0, 5.0, 9999.0]
Length: 11
Categories (10, float64): [0.0, 1.0, 2.0, 3.0, ..., 6.0, 7.0, 8888.0, 9999.0]

 Cumple_Milán
[9999.0, NaN, 0.0]
Categories (2, float64): [0.0, 9999.0]

 Cumple_UCSF
[9999.0, NaN, 0.0]
Categories (2, float64): [0.0, 9999.0]

 Cumple_Up_To_Seven
[9999.0, 1.0, 0.0, NaN]
Categories (3, float64): [0.0, 1.0, 9999.0]

 Terapia_Local_1
[9999, 3, 0, 2, 1, 99999, NaN, 'qumioembolizacion', 'QUIMIOEM']
Categories (8, object): [0, 1, 2, 3, 9999, 99999, 'QUIMIOEM', 'qumioembolizacion']

 Terapia_Local_2
[9999.0, 0.0, 1.0, 3.0, 99999.0, NaN]
Categories (5, float64): [0.0, 1.0, 3.0, 9999.0, 99999.0]

 PLR
[9999.0, NaN, 390.0]
Categories (2, float64): [390.0, 9999.0]

 PREMORAL_Categoría
[9999.0, NaN, 3.0]
Categories (2, float64): [3.0, 9999.0]

 Patrón_Histológico
[9999, 1, 2, 3, 6, ..., 5, NaN, 99999, 'solido', 'trabecular, pseudo ganglionar']
Length: 12
Categories (11, object): [1, 2, 3, 4, ..., 9999, 99999, 'solido',
                          'trabecular, pseudo ganglionar']

 Grado_HCC
[9999.0, 1.0, 3.0, 2.0, NaN, 4.0, 999.0, 99999.0]
Categories (7, float64): [1.0, 2.0, 3.0, 4.0, 999.0, 9999.0, 99999.0]

 Invasión_Vascular
[9999.0, 0.0, 1.0, NaN, 99999.0]
Categories (4, float64): [0.0, 1.0, 9999.0, 99999.0]

 Invasión_Linfática
[9999.0, NaN, 0.0]
Categories (2, float64): [0.0, 9999.0]

 Invasión_Nerviosa
[9999.0, NaN, 0.0]
Categories (2, float64): [0.0, 9999.0]

 Necrosis_Tumoral
[9999, 1, 2, NaN, 'extensas', 30, 50, 0]
Categories (7, object): [0, 1, 2, 30, 50, 9999, 'extensas']

 Ki67
[9999.0, 1.0, 5.0, 40.0, 7.0, ..., 0.0, 3.0, 99999.0, 13.0, NaN]
Length: 13
Categories (12, float64): [0.0, 1.0, 3.0, 5.0, ..., 30.0, 40.0, 9999.0, 99999.0]

 Mitosis
[9999, 1, 0, NaN, 4, 99999, '0 a 6']
Categories (6, object): [0, 1, 4, 9999, 99999, '0 a 6']

 p53
[9999, 0, 1, 10, 15, NaN, 99999, 'neg']
Categories (7, object): [0, 1, 10, 15, 9999, 99999, 'neg']

 T
[9999.0, 2.0, 3.0, 1.0, 4.0, NaN]
Categories (5, float64): [1.0, 2.0, 3.0, 4.0, 9999.0]

 N
[9999, 0, NaN, 1, 'X', 'x']
Categories (5, object): [0, 1, 9999, 'X', 'x']

 M
[9999, 0, NaN, 1, 9, 'X', 'x']
Categories (6, object): [0, 1, 9, 9999, 'X', 'x']

 Estadio
[9999.0, 2.0, 3.0, 1.0, 4.0, NaN]
Categories (5, float64): [1.0, 2.0, 3.0, 4.0, 9999.0]

 COMBOMORAL_Categoría
[9999.0, NaN]
Categories (1, float64): [9999.0]

 Lugar_De_Recurrencia
[9999.0, NaN]
Categories (1, float64): [9999.0]